<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
    <title>Rubrowser</title>
    <link href='/css/application.css' media='all' rel='stylesheet'>
  </head>
  <body>
    <div class='dependency_graph'>
      <svg></svg>
      <div class="loading">
        Parsing files...
      </div>
    </div>
    <div class="toolbox">
      <div class="panel">
        <div class="title"> Search </div>
        <div class="content">
          <label>Namespace</label>
          <textarea id="highlight_by_namespace"></textarea>
          <label><input type="checkbox" id="highlight_modules"/> Modules</label>
          <label><input type="checkbox" id="highlight_classes"/> Classes</label>
        </div>
      </div>
      <div class="panel">
        <div class="title"> Ignore </div>
        <div class="content">
          <label>Namespace</label>
          <textarea id="ignore_by_namespace"></textarea>
          <label><input type="checkbox" id="ignore_modules"/> Modules</label>
          <label><input type="checkbox" id="ignore_classes"/> Classes</label>
        </div>
      </div>
      <div class="panel">
        <div class="title"> Display </div>
        <div class="content">
          <input type="button" id="pause_simulation" value="Pause animation"/>
          <label>Force Collide</label>
          <input id="force_collide" type="range" value="80" min="0" max="500"/>
          <label><input type="checkbox" id="hide_namespaces"/> Hide namespaces</label>
        </div>
      </div>
    </div>

    <script src='/javascript/lodash.js' type='text/javascript'></script>
    <script src='/javascript/d3.js' type='text/javascript'></script>
    <script src='/javascript/jquery.js' type='text/javascript'></script>
    <script src='/javascript/application.js' type='text/javascript'></script>
    <script src='/javascript/toolbox.js' type='text/javascript'></script>
  </body>
</html>
