!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Rubrowser
    %link{ rel: "stylesheet", media: "all", href: "/css/application.css"}
    %script{:src => "/javascript/d3.js", :type => "text/javascript"}
    %script{:src => "/javascript/jquery.js", :type => "text/javascript"}
    %script{:src => "/javascript/application.js", :type => "text/javascript"}
  %body
    .dependency_graph
      %svg{ data: { constants: constants.to_json, occurences: occurences.to_json } }
