<div class="toolbox">
  <div class="card ml-2 mt-2">
    <div class="card-header">Node Details</div>
    <div class="card-body" id="information_panel">
      Please click on any node.
    </div>
  </div>
  <div class="card ml-2 mt-2">
    <div class="card-header">Search</div>
    <div class="card-body">
      <label class="form-label">Namespace</label>
      <textarea id="highlight_by_namespace" class="form-control" rows="5"></textarea>
    </div>
    <div class="card-body">
      <label class="form-label">File Path</label>
      <textarea id="highlight_by_file_path" class="form-control" rows="5"></textarea>
    </div>
    <div class="card-body">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="highlight_modules"/>
        <label class="form-check-label">Modules</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="highlight_classes"/>
        <label class="form-check-label">Classes</label>
      </div>
    </div>
  </div>
  <div class="card ml-2 mt-2">
    <div class="card-header">Ignore</div>
    <div class="card-body">
      <label>Namespace</label>
      <textarea id="ignore_by_namespace" class="form-control" rows="5"></textarea>
    </div>
    <div class="card-body">
      <label>File Path</label>
      <textarea id="ignore_by_file_path" class="form-control" rows="5"></textarea>
    </div>
    <div class="card-body">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="ignore_modules"/>
        <label class="form-check-label">Modules</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="ignore_classes"/>
        <label class="form-check-label">Classes</label>
      </div>
    </div>
  </div>
  <div class="card ml-2 mt-2">
    <div class="card-header">Display</div>
    <div class="card-body">
      <button type="button" id="download_layout" class="btn btn-secondary btn-block">Download layout</button>
      <button type="button" id="pause_simulation" class="btn btn-secondary btn-block">Pause animation</button>
    </div>
    <div class="card-body">
      <label class="form-label">Force Collide</label>
      <input id="force_collide" class="form-control" type="range" value="80" min="0" max="500"/>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="hide_namespaces"/>
        <label class="form-check-label">Hide namespaces</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="hide_relations"/>
        <label class="form-check-label">Hide relations</label>
      </div>
    </div>
  </div>
</div>
