html, body, .dependency_graph, .dependency_graph svg{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-size: 13px;
}

.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

circle {
  fill: #fff;
  stroke: #333;
  stroke-width: 1.5px;
}

.circular {
    stroke: #FF0000;
}

.fixed circle {
  stroke-width: 3px;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

text.type{
    font: 7px sans-serif;
}

.downlighted {
    opacity: 0.1;
}

.type_ignored, .name_ignored{
    display: none;
}

.highlighted, .name_highlighted, .type_highlighted{
    fill: #008ef3;
}

.highlighted circle, .name_highlighted circle, .type_highlighted circle{
    stroke: #008ef3;
}

.hide_namespace .namespace, .link.hide_relation{
    display: none;
}

/* ============================ */
/* Toolbox style */
/* ============================ */

.toolbox{
    position: fixed;
    top: 0px;
    left: 0px;
    max-height: 100%;
    width: 250px;
    background: white;
    overflow: auto;
}

ul, ol{
    list-style-position: inside;
    white-space: nowrap;
    margin: 0px;
    padding-left: 0px;
    overflow: auto;
}
