html, body, .dependency_graph, .dependency_graph svg{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

circle {
  fill: #fff;
  stroke: #333;
  stroke-width: 1.5px;
}

.fixed circle {
  stroke-width: 3px;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}
