html, body{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}
.dependency_graph, .dependency_graph svg{
    width: 100%;
    height: 100%;
}

line{
    stroke: #888;
}

.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

.fixed {
  fill: #f00;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}
